footer{
    .content{
        display: flex;
        justify-content:center;
        align-items:center;
        flex-direction: column;
        margin-top:50px;
        padding: 20px;
    }
    p{
        font-weight: bold;
        font-size: 1.2rem;
        display: flex;
        align-items:center;
    }
}