

header{
    
    height: 100vh;
    // background: url('/assets/therapies/therapy-7.jpg');
    background: $darkBlue;

    padding-top: 20px;
    

    
    .darkenDiv{
        padding-top: 20px;
    background-color: #00000080;

    }
 
    .container{
        max-width: 1200px;
        margin:0px auto;
        display:flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        padding: 0px 15px;
        z-index: 1000;
       
      
    }

    .closeIcon{
      
        position: absolute;
        left: 10px;
        top: 10px;
        svg{
            opacity: .5;
        }
    }
    .bars , .closeIcon{
        width: 30px;
        height: 30px;
        svg{
            width: 100%;
            height: 100%;
        }
    }

    
    .main-logo{
        max-width: 100px;
        width: 100%;
        height: 100%;
        max-height: 100px;
        object-fit: fill;
    }



    .menu{
        position:fixed;
        top: 0px;;
        width: 100%;
        right: 0;
        background: url('/assets/backgrounds/canvas-background.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        min-height: 100vh;
        transform: translateX(-100%);
        transition: 0.4s ease all;;

        &.open{
        transform: translateX(0);

        }


        ul{
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 100%;
            min-height: 80vh;
            justify-content: start;
            background-color:#00000080 ;

            li{
                list-style: none;
                padding: 10px;
                margin-top: 50px;

                a{
                    font-size: 1.2rem;
                    line-height: 1.2rem;
                    text-decoration: none;
                    font-weight: 600;
                    color: $white;
                    letter-spacing: 2px;
                  
                    animation-name: fadeInLeftShort ,opacity;
                    animation-iteration-count: initial;
                    animation-duration: 0.8s;
                    text-shadow: 2px 2px 5px #000;
                    text-align: center;
                    display: block;
                    width: 100%;
                }
            }
            
        }
    }   

    .seconIcon{
        display: flex;
        justify-content: center;
        align-items: center;
        background: $white;
        position: relative;
        z-index: 20;
        max-height: 150px;
        .main-logo{
            max-width: 200px;
            max-height: 200px;
        }
    }


    .quotation {
        position: absolute;
top: 0;
height: 100%;
width: 100%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
z-index: 1;
    }

    .BookingBtnContainer{
        display: flex;
        justify-content: center;
        width: 100%;
        margin-top: 50px;
    }
    .bookingBtn  {
      
        background: $trebol;
        padding: 10px 20px ;
        display:block;
        max-width: 150px;
        font-size:1.3rem;
        color:$darkBlue;
        border-radius: 5px;
        box-shadow: 2px 2px 8px rgba(0, 0, 0, .5);
        font-style: italic;
        font-weight: bold;
        animation-name:fadeInDown ,opacity;
        animation-iteration-count:initial;
        animation-duration:0.8s;
    }
    
    .quote{
       
        font-size: 2rem;
        line-height: 2rem;
        color:$white;
        width: 100%;
        text-align: center;
        padding: 10px;
        font-style: italic;
        font-weight: bold;
        animation-name:fadeInDown , opacity;
        animation-iteration-count:initial;
        animation-duration:.8s;
        max-width: 1200px;
        
    
    }

  

 
}


@media screen and(min-width:968px){
    header{

    
        .container{
            margin-top: 10px;
        }

    
        .closeIcon{
          
          display: none;
        }
        .bars , .closeIcon{
        display: none;
        }
        .main-logo{
            max-width: 150px;
            max-height: 150px;
        
        }
    
    
    
        .menu{
            position:static;
            width: 100%;
            background: none;
            min-height: 100%;
            display: flex;
            justify-content: flex-end;
        transform: translateX(0);

    
            ul{
                flex-direction: row;
            justify-content: flex-end;
                
                background:none !important;
                min-height: 100%;
    
                li{
                    padding: 20px;
                    margin-top: 0px;
    
                    a{
                        font-size: 1.4rem;
                        line-height: 1.4rem;
                        transition: 0.5s ease all;
                        border-bottom: 2px solid transparent;
                        padding-bottom: 5px;

                        &:hover{
                            color: $trebol;
                            border-bottom: 1px solid $trebol;
                        }
                    }
                }
                
            }
        }   
    
        .seconIcon{
           
            display: none;
          
        }

        .quote{
       
            font-size: 3rem;
            line-height: 3rem;
         
            
        
        }

        .quotation{
            margin-top: 50px;
        }
    
      
    
     
    }
}













