
/* Colores:

    menu-items: #ffecdd;
*/

/* General styles */


/* header styles */
header{
    min-height: 100vh;
    background-image: url("/assets/backgrounds/massage-desktop.png");
    background-position: center; 
    background-size: cover;
    background-attachment:fixed;
    position:relative;
    
  

 
}

.centered{
   max-width: 1200px;
    margin:0px auto;
}



/* Navbar styles */
.logo-navbar-container{
    width: 95px;
    img{
        animation-name:opacity;
        animation-iteration-count:initial;
        animation-duration:0.5s;
        display: block;
    }
   
}

.btn-menu{
    color: #ffffff;
}

.btn-menu i{
    font-size: 2rem;
}
.btn-menu i:hover{
    font-size: 2rem;
    color: #000;
}

.btn-menu:focus{
    box-shadow: none;
}



/* Offcanvas styles */
.offcanvas-end{
    background: $white;
    border-left: none;
}

.offcanvas-header {
    height: 150px;
    border: 1px solid transparent;
}

.logo-offcanvas{
    width: 200px ;
}

.btn-close{
    background: none;
    border: none; 
    padding: 0 !important;
    position: absolute;
    top: 8px;
    left: 2px;
}

.btn-close i {
    font-size: 2rem;
    color: black;
}
.btn-close i:hover{
    
    color: #000;
}

.offcanvas-body{
    padding: 0 !important;
    background-image: url("/assets/backgrounds/canvas-background.png");
    background-attachment:local;
    background-size: cover;
    background-position: center;
}

.offcanvas-body span{
    height: 100%;
    background-color: #00000083;

}


.navbar-item{
    text-decoration: none;
    font-weight: 600;
    color: $menu-items;
    letter-spacing: 2px;
    font-size: 1.1rem;
    line-height: 1rem;
    animation-name:fadeInLeftShort ,opacity;
    animation-iteration-count:initial;
    animation-duration:0.8s;
}

.navbar-item:hover{
    color: $trebol;
    transition: all 300ms;
}


/* made by Diginho from here */

nav{
    align-items: center;
}

.BookingBtnContainer{
    position:absolute;
    top: 60%;
    left: 0;
    display: flex;
    justify-content: center;
    width: 100%;
}
.bookingBtn  {
  
    background: $trebol;
    padding: 10px 20px ;
    display:block;
    max-width: 150px;
    font-size:1.3rem;
    color:$darkBlue;
    border-radius: 5px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, .5);
    font-style: italic;
    font-weight: bold;
    animation-name:fadeInDown ,opacity;
    animation-iteration-count:initial;
    animation-duration:0.8s;
}

.quote{
    position:absolute;
    top: 40%;
    left: 0%;
    font-size: 2rem;
    line-height: 2rem;
    color:#fff;
    width: 100%;
    text-align: center;
    padding: 10px;
    font-style: italic;
    font-weight: bold;
    text-shadow: 2px 2px 5px $black;
    animation-name:fadeInDown , opacity;
    animation-iteration-count:initial;
    animation-duration:.8s;


}




/* ------------------------------ */
/* Medias queries 768px*/

@media (min-width:768px) {
 

    /* ------- Navbar styles ------------- */
    .logo-navbar-container{
        width: 115px;
    }

    /* ------- Offcanvas styles ----------- */
    .offcanvas-end{
        width: 360px !important;
    }
}
@media (min-width:968px) {
 

    /* ------- Navbar styles ------------- */
    .logo-navbar-container{
        width: 150px;
    }

    .navbar-item{
      
        font-size: 1.3rem;
        line-height: 1.3rem;
        border-bottom: 1px solid transparent;

        &:hover{
            border-bottom: 1px solid $trebol;
        }
    }

    .quote{
        font-size: 3rem;
        line-height: 3rem;
    
    }

    .bookingBtn  {
     font-size: 1.5rem;
     line-height: 1.5rem;

     &:hover{
    box-shadow: 5px 5px 8px rgba(0, 0, 0, .2);

     }
    }
  

}
