.modal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    background: rgba($color: $black, $alpha: 0.7) ;
    display: none;
    align-items: center;
    justify-content:center;
    z-index: 2000;
  
    &.open{
        display: flex;
    }

  
    .content{
        width: 100%;
        display: flex;
        justify-content:center;
        align-items:center;
        padding: 0px 20px;
        position: relative;
        min-height: 100vh;
        z-index: 2000;
        max-width: 800px ;
        margin: 0px auto;
        animation-name: grow,opacity;
        animation-iteration-count: initial;
        animation-duration: 0.6s;
        flex-direction: column;

        &.close{
            animation-name: negativeOpacity,closeModal;
            animation-iteration-count: initial;
            animation-duration: 0.6s;
        }
    }

    .imageDescription{
        color:#fff;
        font-size: 1.5rem;
        line-height: 1.2rem;;
        margin-top: 40px;
    }

    .left , .right{
        position: absolute;
        top: 50%;
        padding: 5px;
        background:#00000080  ;
        border-radius: 100%;;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 0.6s ease all;

        &:hover{
            opacity: 0.8
        }
    }
    .closeIcon{
        position: absolute;
        top: -30px;
        right: 0;
        padding: 5px;
        background:#00000080  ;
        border-radius: 100%;;
        display: flex;
        align-items: center;
        justify-content: center;

        transition: 0.6s ease all;

        &:hover{
            opacity: 0.8
        }
    }


    .imageContainer{
        position: relative;
    }
    .left{
        left: 5px;
    }
    .right{
        right: 5px;
    }

    .modalImg{
        width: 100%;
        height: 100%;
        max-width: 500px;
        max-height: 500px;
        border-radius: 10px;
        min-height: 200px;
        min-width: 200px;

        &.left{
            animation-name: fadeInLeft,opacity;
            animation-iteration-count: initial;
            animation-duration: 0.6s;
        }

    }
}