.prices{
    margin-top: 80px;
    min-height: 100vh;

    .content{
        // padding: 0px 5px;
        width: 80%;
        margin: 50px auto;
        max-width: 600px;

        

        .priceCard{
            border-bottom: 5px solid $trebol;
            border-right: 5px solid $trebol;
            margin-top: 20px;
        box-shadow:  2px 2px 5px rgba(0, 0, 0, 0.5);
        background: rgba(255,255,255,0.2),rgba(255,255,255,0.5) ;

            padding: 10px;
            border-radius: 5px;
            position: relative;
         

            .description{
                font-size: 1.3rem;
                line-height: 1.3rem;
                font-weight: 400;
                margin-top: 10px;
                span{
                    // @extend .description;
                    font-style: italic;
                    font-weight: bold;
                }

            }
            .price{
                font-size: 1.5rem;
                line-height: 1.5rem;
                font-weight: 600;
                margin-top: 25px;
               

            }
        }

    }
    .extrainfo{
        font-size: 1.2rem;
        line-height: 1.2rem;
        text-align: center;
        max-width: 700px;
        margin: 20px auto;
        font-weight: bold;
    }
}

@media screen and(min-width: 968px){
    .prices{
        margin-top: 120px;
        
        .content{
            display: grid;
            grid-template-columns: repeat(2,minmax(400px,1fr));
            gap: 40px;
            justify-content:center;
        
    
            .priceCard{
         padding: 20px;
    
                .description{
                    font-size: 1.5rem;
                    line-height: 1.5rem;
                    margin-top: 15px;
                 
    
                }
                .price{
                    font-size: 1.7rem;
                    line-height: 1.7rem;
                 
                   
    
                }
            }
    
        }

        .extrainfo{
            font-size: 1.4rem;
            line-height: 1.4rem;
           
        }

     
    }
}