@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300;0,400;0,600;1,300&display=swap');

/* Colores:
    trebol:#9ee7e7;
    blanco:#F6f2ef;
    menu-items: #ffecdd;
*/

/* General styles */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cormorant', serif;
}

a{
    text-decoration: none;
}

/* header styles */
header{
    min-height: 100vh;
    background-image: url("../assets/backgrounds/massage-desktop.png");
    background-position: center; 
    background-size: cover;
    background-attachment:fixed;
    position:relative;
  

 
}

.centered{
   max-width: 1200px;
    margin:0px auto;
}

.darkenDiv{
    min-height: 100vh;
    width: 100%;
    background-color: #00000063;
}

/* Navbar styles */
.logo-navbar-container{
    width: 95px;
}

.btn-menu{
    color: #ffffff;
}

.btn-menu i{
    font-size: 2rem;
}
.btn-menu i:hover{
    font-size: 2rem;
    color: #000;
}

.btn-menu:focus{
    box-shadow: none;
}



/* Offcanvas styles */
.offcanvas-end{
    background: #F6f2ef;
    border-left: none;
}

.offcanvas-header {
    height: 150px;
    border: 1px solid transparent;
}

.logo-offcanvas{
    width: 200px ;
}

.btn-close{
    background: none;
    border: none; 
    padding: 0 !important;
    position: absolute;
    top: 8px;
    left: 2px;
}

.btn-close i {
    font-size: 2rem;
    color: black;
}
.btn-close i:hover{
    
    color: #000;
}

.offcanvas-body{
    padding: 0 !important;
    background-image: url("../assets/backgrounds/canvas-background.png");
    background-attachment:local;
    background-size: cover;
    background-position: center;
}

.offcanvas-body span{
    height: 100%;
    background-color: #00000083;

}

.navbar-item{
    text-decoration: none;
    font-weight: 600;
    color: #ffecdd;
    letter-spacing: 2px;
    font-size: 1.1rem;
    line-height: 1rem;
}

.navbar-item:hover{
    color: #9ee7e7;
    transition: all 300ms;
}


/* made by Diginho from here */

.BookingBtnContainer{
    position:absolute;
    top: 60%;
    left: 0;
    display: flex;
    justify-content: center;
    width: 100%;
}
.bookingBtn  {
  
    background: #9ee7e7;
    padding: 10px 20px ;
    display:block;
    max-width: 150px;
    font-size:1.3rem;
    color:#000;
    border-radius: 10px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, .2);
    font-style: italic;
    font-weight: bold;
}

.quote{
    position:absolute;
    top: 40%;
    left: 0%;
    font-size: 2rem;
    line-height: 2rem;
    color:#fff;
    width: 100%;
    text-align: center;
    padding: 10px;
    font-style: italic;
    font-weight: bold;

}




/* ------------------------------ */
/* Medias queries 768px*/

@media (min-width:768px) {
 

    /* ------- Navbar styles ------------- */
    .logo-navbar-container{
        width: 115px;
    }

    /* ------- Offcanvas styles ----------- */
    .offcanvas-end{
        width: 360px !important;
    }
}
